/* From Uiverse.io by cssbuttons-io 
button {
 width: 150px;
 height: 50px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
 
}

button, button span {
 transition: 200ms;
}

button .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

button .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

button svg {
 width: 15px;
 fill: #eee;
}

button:hover {
 background: #ff3636;
}

button:hover .text {
 color: transparent;
}

button:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

button:focus {
 outline: none;
}

button:active .icon svg {
 transform: scale(0.8);
} */

/* ✖ DeleteAll Button */
.delete-all-btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #e62222;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  position: relative;
  margin-left: 10px; /* Optional */
   position: fixed;
  bottom: -50px;
  right: 30px;
}

.delete-all-btn, .delete-all-btn span {
  transition: 200ms;
}

.delete-all-btn .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.delete-all-btn .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-all-btn svg,
.delete-all-btn i {
  width: 15px;
  fill: #eee;
}

.delete-all-btn:hover {
  background: #ff3636;
}

.delete-all-btn:hover .text {
  color: transparent;
}

.delete-all-btn:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

